.acary_cloud_helper__container {
    max-width: 900px;
}

.acary_cloud_helper__block {
    background-color: #fdfdfd;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px #0000000a;
    margin: 20px 0px;
}

.acary_cloud_helper__block-header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.acary_cloud_helper__block-header h3 {
    margin: 5px 0px;
    padding: 0;
    font-size: 1.4em;
}

.acary_cloud_helper__block-content {
    padding: 25px 20px;
    font-size: 14px;
}

.acary_cloud_helper__block-content h2 {
    margin-top: 0;
}

.acary_cloud_helper__block-content p {
    margin-top: 0;
    padding-top: 0;
}

.acary_cloud_helper__block-content p[class="submit"] {
    margin-bottom: 0;
    padding-bottom: 0;
}

.acary_cloud_helper__block-content .form-table {
    margin-top: 0;
}

.acary_cloud_helper__block-content .form-table > tbody:nth-child(1) > tr:nth-child(1) > th:nth-child(1),
.acary_cloud_helper__block-content .form-table > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) {
    padding-top: 0 !important;
}

.acary_cloud_helper__block-content .form-table td {
    padding: 10px 0px;
}

.acary_cloud_helper__block-content input[type=text],
.acary_cloud_helper__block-content textarea {
    width: 100%;
}

.acary_cloud_helper__block-content table {
    margin-bottom: 10px;
}

.acary_cloud_helper__block-content table td {
    vertical-align: top;
}

.acary_cloud_helper__block-content table td.field-name {
    width: 30%;
    font-weight: bold;
}